.password-input-container {
    position: relative;
}
.password-input {
    padding-right: 32px;
}
.toggle-password {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
}

.email-input-container {
    position: relative;
}
.email-input {
    padding-right: 32px;
}
.toggle-email {
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pageRegister{
        width: 75vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .pageRegister{
        width: 50vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pageRegister{
        width: 40vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pageRegister{
        width: 30vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pageRegister{
        width: 30vw;
    }
}