.bgTop{
    max-width: 40%; /* Ensures the image doesn't exceed its container */
    height: auto;    /* Maintains the aspect ratio */
    display: block;  /* Removes any extra spacing below the image */
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}
.bgBottom{
    max-width: 40%; /* Ensures the image doesn't exceed its container */
    height: auto;    /* Maintains the aspect ratio */
    display: block;  /* Removes any extra spacing below the image */
    margin: 0 auto;  /* Centers the image horizontally */
    position: absolute;
    bottom: 0;
    right: 0;
}   
.mainContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-blue{
    background-color: #0062BD !important;
    color: white !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bgTop {
        max-width: 75%;
      }
      .bgBottom {
        max-width: 75%;
      }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bgTop {
        max-width: 50%;
      }
      .bgBottom {
        max-width: 50%;
      }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bgTop {
        max-width: 50%;
      }
      .bgBottom {
        max-width: 50%;
      }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bgTop {
        max-width: 50%;
      }
      .bgBottom {
        max-width: 50%;
      }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bgTop {
        max-width: 40%;
      }
      .bgBottom {
        max-width: 40%;
      }
}



/* FONT SIZE RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1{
        font-size: calc(45% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    p{
        font-size: calc(45% + .5vmin) !important;
        margin-bottom: 0 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1{
        font-size: calc(50% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    p{
        font-size: calc(50% + .5vmin) !important;
        margin-bottom: 0 !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1{
        font-size: calc(55% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    p{
        font-size: calc(55% + .5vmin) !important;
        margin-bottom: 0 !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1{
        font-size: calc(65% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    p{
        font-size: calc(65% + .5vmin) !important;
        margin-bottom: 0 !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1{
        font-size: calc(75% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    p{
        font-size: calc(75% + .5vmin) !important;
        margin-bottom: 0 !important;
    }
}
