.otp-container {
    display: flex;
    gap: 10px;
  }
  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #object{
    width: 40%;
}
.objectLeft{
    position: absolute;
    left: 0;
    bottom: 0;
}
.objectRight{
    position: absolute;
    Right: 0;
    bottom: 0;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #object{
        width: 50%;
    }
}